html, body, #root {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 500px;
  height: 500px;
}
p {
  margin: 0 !important;
}

.wh100 {
  width: 100%;
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*Tweaking Bootstrap button colors*/
.btn-info.active, .btn-info:active {
  background-color: #2f4858 !important
}
.btn-info {
  background-color: #33658a !important
}
.btn-outline-info {
  color: #33658a !important;
  border-color: #33658a !important;

}
.btn-outline-info.active, .btn-outline-info:hover  {
  color: #ffffff !important;
  background-color: #33658a !important;
}
.nav-link.active {
  background-color: #ffffff !important;
  color: #2f4858 !important
}
.btn-danger {
  background-color: #eb0000 !important;
}

.nav-link {
  color: #f6ae2d !important
}
/*Necessary to customize popover width*/
.popover {
  max-width: none !important;
}